body{
	font-family: helvetica, sans-serif;
	padding-top: 50px;
}
#home{
	background: url("../images/main bg.jpg");
	background-size: 100% auto;
}
#login, #fill{
	min-height: 100%;
}
.login-wrapper{
	text-align: center;
	margin-top: 10%;
	min-height: 100%;
	width: 60%;
}
.welcome-wrapper{
	position: absolute;
	top: 35%;
	left: 20%;
	width: 70%;
	margin-left: -10%;
	h1{
		font-weight: bold;
		color: #fff;
		text-shadow: 1px 1px #999;
		text-transform: uppercase;
	}
	.subtitle{
		font-weight: bold;
		color: #333;
		font-size: 30px;
		text-transform: lowercase;
	}
	p{
		margin-left: 4%;
	}
}
html { height: 100% }
#map-canvas { height: 100% }

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
